<section class="content">
  <div class="box-chanel-film">
    <div class="box-film">
      phim 1
    </div>
  </div>
    <div class="box-chanel-film">
    <div class="box-film">
      phim 1
    </div>
  </div>
</section>