<nav class="nav-fixed">
  <div class="nav-logo">
    day la log
  </div>
  <ul class="nav-menu">
    <li class="active"><a href="">Home</a></li>
    <li><a href="">Phim</a></li>
    <li><a href="">Videos</a></li>
    <li><a href="">Thể thao</a></li>
  </ul>
</nav>
