<div class="app">
    <header>
        <%= render 'home/header' %>
    </header>
    <section>
        <%= render 'home/content' %>
    </section>  
    <footer>
        <%= render 'home/footer' %>
    </footer>   
</div>
